*.mp3
*.mp4
*.wav
*.flac
*.pt
.idea
_pycache_
configs/json/config.json
configs/json/config.example.json
data/chroma_database/database
output/
runtime/
template
tools/uvr5/uvr5_weights
tools/neo4j-chs-community-4.2.2-windows/data
*.dll