fuzzywuzzy==0.18.0
pandas
apscheduler
ctranslate2
json5
more_itertools
yt-dlp
py2neo
neo4j==5.16.0
ffmpeg-python==0.2.0
edge_tts
lxml
faster-whisper
zhipuai
langchain
langchain_community
sentence_transformers==2.2.2
chromadb==0.4.22
streamlit
pyaudio
Pillow
audioread
tqdm>=4.65.0
resampy==0.2.2
opencv-python
librosa==0.9.2
numba==0.56.4
samplerate
SoundFile
soundstretch
loguru==0.7.2
boto3
openunmix
musdb
SoundFile
scipy
norbert
asteroid>=0.5.0
click
onnxruntime-gpu
psutil
demucs
pydub==0.25.1
audiosegment
pyglet
pyperclip
julius
pyyaml
natsort
